{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["defaults"]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
