button {
  height: 30px;
  line-height: 30px;
  border: none;
}
div#aa {
  height: 50px;
  width: 200px;
  border-bottom: 2px red solid;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
